#map-container
{
    height: 600px;
}

#map-canvas {
  height: 600px;
  width: 600px;
  margin: 0px 10px 10px 10px;
  float: right;
}

#map-canvasFullSize {
  height: 600px;
  width: 97.8%;
  margin: 0px 10px 10px 10px;
}

#mapinfo {
    float: left;
    width: 250px;
    margin-left: 10px;
    position: relative;
}

.searchbox {
	width: 220px;
	background-image: url('/public/images/search-blue.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-left: 20px;
}

#searchresult {
	background-color: #EEEEEE;
	position: absolute;
	top: 98px;
	left: 4px;
	width: 240px;
	border: 1px solid #00315F;
	border-top: 0px;
	display: none;
	padding-top: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.searchresulttext {
	cursor: pointer;
	display: block;
	width: 100%;

}

.searchresulttext:hover {
	background-color: #77bbff;
}

#freebicycles 
{
    height:25px;
}

#messages 
{
    height:35px;    
}

#sidebox {
    height:50%;
}

.active-booking
{
    border-bottom:1px solid gray;
    margin: 0px;
}
.active-booking:last-child
{
    border:0px;
}